In [1]:
import pandas as pd

In [2]:
results = pd.read_csv('query_classification_results.csv')

In [3]:
results.head()

,query,class,justification
0,scott-surovell claim: When did the decline of ...,"I would classify this query as ""half true"".",Justification: The query states that the decli...
1,barack-obama claim: Hillary Clinton agrees wit...,Class: True,Justification: The query states that Hillary C...
2,dwayne-bohac claim: Says the Annies List polit...,"I would classify this query as ""FALSE"".",Justification: The query states that Annie's L...
3,charlie-crist claim: The economic turnaround s...,"I would classify this query as ""Half True"".",Justification:\n\nThe query states that Charli...
4,blog-posting claim: Health care reform legisla...,"I would classify this query as ""FALSE"".","Justification: According to the context, the n..."